.alert-success {
  position: fixed;
  left: 550px;
  top: 120px;
  background-color: #EFE;
  width: 200px;
  border: 1px solid #DED;
  color: #9A9;
  padding: 5px;
  text-align: center;
}

.alert-error {
  position: fixed;
  left: 550px;
  top: 120px;
  width: 200px;
  background-color: #FEE;
  border: 1px solid #EDD;
  color: #A66;
  padding: 5px;
  height: 32px;
  text-align: center;
}