.property-card {
  background-color: white;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  width: 250px;
  height: 275px;
  padding-left: 10px;
  margin-top: 10px;
}

.property-card_title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-style: italic;
  font-size: 22px;
}

.property-card_save {
  cursor: pointer;
  display: block;
  color: black;
  font-size: 16px;
  background-color: white;
  text-decoration: none;
  border-width: thin;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  width: 150px;
  padding: 5px;
  text-align: center;
  margin: 10px auto;
}