.saved-properties {
  position: relative;
}

.saved-properties-heading {
  text-align: center;
}

.saved-properties-cards {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  gap: 25px;
  position: relative;
  left: 200px;
}